DB_URL=jdbc:postgresql://localhost:5432/BDAuth
DB_USERNAME=postgres
DB_PASSWORD=
JWT_SECRET=
JWT_EXPIRATION=900000
REFRESH_TOKEN_EXPIRATION=604800000
MAX_FAILED_ATTEMPTS=3
LOCK_TIME_MINUTES=5
MAIL_USERNAME=
MAIL_PASSWORD=
USERS_SERVICE_PORT=8083
